altgraph==0.17.4
bcrypt==4.3.0
docx==0.2.4
future==1.0.0
lxml==6.0.0
numpy==2.3.2
packaging==25.0
pefile==2023.2.7
pillow==11.3.0
psycopg2-binary==2.9.10
pyinstaller==6.15.0
pyinstaller-hooks-contrib==2025.8
pywin32-ctypes==0.2.3
pyzk==0.9
setuptools==80.9.0
tkinter-tooltip==2.0.0
